# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/enter-slice/node_modules
/enter-slice/.pnp
/enter-slice/.yarn
/enter-slice/.pnp.js

# testing
/enter-slice/coverage

# production
/enter-slice/build